<launch>
    <node name="ground_node" pkg="ardupilot_rtcop_ros"
          type="ground_node" output="screen"/>
    <node name="flight_node" pkg="ardupilot_rtcop_ros"
          type="flight_node" output="screen"/>
    <node name="nosignal_node" pkg="ardupilot_rtcop_ros"
          type="nosignal_node" output="screen"/>
    <node name="strongwind_node" pkg="ardupilot_rtcop_ros"
          type="strongwind_node" output="screen"/>
    <node name="storm_node" pkg="ardupilot_rtcop_ros"
          type="storm_node" output="screen"/>
    <node name="lowpower_node" pkg="ardupilot_rtcop_ros"
          type="lowpower_node" output="screen"/>
    <node name="nopower_node" pkg="ardupilot_rtcop_ros"
          type="nopower_node" output="screen"/>
</launch>